@model IEnumerable<ToDoApp.Models.ToDoItem>

<div id="progressBarToDo">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: @ViewBag.Percent%;">@ViewBag.Percent%</div>
    </div>
</div>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsDone, new { id = item.Id, @class = "activeCheck" })
            </td>
            <td>
                @if (!item.IsDone)
                {
                    @Html.DisplayFor(modelItem => item.Description)
                }
                else
                {
                    <div class="completedToDoItem">@Html.DisplayFor(modelItem => item.Description)</div>
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<script src="~/Scripts/addCheckBoxListener.js"></script>
<noscript>
